Uploading (5).json
{
  "name": "Uploading (5)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dacc4f35-65a7-45e8-b29f-bd5f1fc6aad1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -464,
        -160
      ],
      "id": "7b4b4924-63a5-4166-95f3-784a8d7f6bf3",
      "name": "Webhook",
      "webhookId": "dacc4f35-65a7-45e8-b29f-bd5f1fc6aad1"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Webhook').item.json.body.videoLink }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "ZWFjMWVkN2E3MTZiNGJjMWJhYTU5ZTRiNzEwMWRjNmMtMTc0ODg0NDIzNQ=="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -160
      ],
      "id": "1a0ec903-7549-46ca-b3f9-0757aab5e9b5",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "=Rental Property Management",
        "regionCode": "SG",
        "categoryId": "27",
        "options": {
          "description": "={{$('Preparing Approved Capitons').item.json.Youtube.description}}",
          "privacyStatus": "unlisted",
          "tags": "={{$('Preparing Approved Capitons').item.json.Youtube.title}}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1504,
        -256
      ],
      "id": "5b223099-1ec5-4160-a747-88fdce6f7ab8",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "cDTdDEF16M225we0",
          "name": "YouTube API"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841458127433765",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $('HTTP Request4').item.json.data.video_url }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1088,
        -64
      ],
      "id": "1c671a2c-3bd4-44b6-8439-0263d19a8956",
      "name": "Create Container",
      "credentials": {
        "facebookGraphApi": {
          "id": "pB30xAmsVYzwJfEu",
          "name": "FB ACC"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNVhIrujfndoHGE",
          "mode": "list",
          "cachedResultName": "Creative Asset Management",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE"
        },
        "table": {
          "__rl": true,
          "value": "tblP2MMDX46SQ8osf",
          "mode": "list",
          "cachedResultName": "Video Gen Submissions",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE/tblP2MMDX46SQ8osf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "publishingStatus": "Video Published"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Business Website",
              "displayName": "Business Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IdealCustomer",
              "displayName": "IdealCustomer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "targetMarket",
              "displayName": "targetMarket",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredAvatar",
              "displayName": "preferredAvatar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredVoice",
              "displayName": "preferredVoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "additionalNotes",
              "displayName": "additionalNotes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kewordStatus",
              "displayName": "kewordStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Keywords Approved",
                  "value": "Keywords Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scriptStatus",
              "displayName": "scriptStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Script Approved",
                  "value": "Script Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoStatus",
              "displayName": "videoStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Video Approved",
                  "value": "Video Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRollStatus",
              "displayName": "bRollStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "BRoll Approved",
                  "value": "BRoll Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnailStatus",
              "displayName": "thumbnailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Thumbnail Approved",
                  "value": "Thumbnail Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "captionsStatus",
              "displayName": "captionsStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Captions Approved",
                  "value": "Captions Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdDate",
              "displayName": "createdDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "submissionSummary",
              "displayName": "submissionSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Steps Recommendation",
              "displayName": "Next Steps Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Month",
              "displayName": "Submission Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Submission Year",
              "displayName": "Submission Year",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "scripts",
              "displayName": "scripts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video ",
              "displayName": "video ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRoll",
              "displayName": "bRoll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnail",
              "displayName": "thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Captions,Titles,Descrip,Tags",
              "displayName": "Captions,Titles,Descrip,Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Script",
              "displayName": "Video Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin Post Description",
              "displayName": "Linkedin Post Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "facebook ",
              "displayName": "facebook ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publishingStatus",
              "displayName": "publishingStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Published",
                  "value": "Video Published"
                },
                {
                  "name": "Ready For Publishing",
                  "value": "Ready For Publishing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records 2",
              "displayName": "Status Records 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Suggestions",
              "displayName": "Suggestions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records",
              "displayName": "Status Records",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video",
              "displayName": "video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script Table",
              "displayName": "Script Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Table",
              "displayName": "Caption Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2400,
        -160
      ],
      "id": "6772f72b-1e21-40ed-b90b-8a0dbd32a9b0",
      "name": "Video Published",
      "credentials": {
        "airtableTokenApi": {
          "id": "4ByRFiQZTQIREYtr",
          "name": "[Noman] Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request4').item.json.data.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        -160
      ],
      "id": "94563cce-2502-4094-94c1-f746f42e3523",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "=17841458127433765",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $('Create Container').item.json.id }}"
              },
              {
                "name": "title",
                "value": "={{$('Preparing Approved Capitons').item.json.Facebook.title}}"
              },
              {
                "name": "caption",
                "value": "={{$('Preparing Approved Capitons').item.json.Facebook.Caption}}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1744,
        -64
      ],
      "id": "171de7b1-4b34-4d26-80bd-c11719c1e336",
      "name": "Instagram POST",
      "credentials": {
        "facebookGraphApi": {
          "id": "pB30xAmsVYzwJfEu",
          "name": "FB ACC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a80eb057-e21d-429f-bd78-5f76b368208e",
              "leftValue": "=youtube",
              "rightValue": "={{ $json.uploadId }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b8c198e4-cc77-42e2-bcc3-eb1e46f2b04f",
              "leftValue": "instagram",
              "rightValue": "={{ $json.uploadId }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        -160
      ],
      "id": "1004c24b-1b67-46a0-b76d-6089daf0ae74",
      "name": "If"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "=17841458127433765/media?fields={{ $json.id }},status_code \n",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1520,
        -64
      ],
      "id": "54ebcd6b-7c13-4dc5-b39a-48729b3c89e0",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "pB30xAmsVYzwJfEu",
          "name": "FB ACC"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNVhIrujfndoHGE",
          "mode": "list",
          "cachedResultName": "Creative Asset Management",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE"
        },
        "table": {
          "__rl": true,
          "value": "tblP2MMDX46SQ8osf",
          "mode": "list",
          "cachedResultName": "Video Gen Submissions",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE/tblP2MMDX46SQ8osf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.videoGenRecordId}}",
            "publishingStatus": "Ready For Publishing"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Business Website",
              "displayName": "Business Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IdealCustomer",
              "displayName": "IdealCustomer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "targetMarket",
              "displayName": "targetMarket",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredAvatar",
              "displayName": "preferredAvatar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredVoice",
              "displayName": "preferredVoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "additionalNotes",
              "displayName": "additionalNotes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kewordStatus",
              "displayName": "kewordStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Keywords Approved",
                  "value": "Keywords Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scriptStatus",
              "displayName": "scriptStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Script Approved",
                  "value": "Script Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoStatus",
              "displayName": "videoStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Video Approved",
                  "value": "Video Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRollStatus",
              "displayName": "bRollStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "BRoll Approved",
                  "value": "BRoll Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnailStatus",
              "displayName": "thumbnailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Thumbnail Approved",
                  "value": "Thumbnail Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "captionsStatus",
              "displayName": "captionsStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Captions Approved",
                  "value": "Captions Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdDate",
              "displayName": "createdDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "submissionSummary",
              "displayName": "submissionSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Steps Recommendation",
              "displayName": "Next Steps Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Month",
              "displayName": "Submission Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Submission Year",
              "displayName": "Submission Year",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "scripts",
              "displayName": "scripts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video ",
              "displayName": "video ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRoll",
              "displayName": "bRoll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnail",
              "displayName": "thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Captions,Titles,Descrip,Tags",
              "displayName": "Captions,Titles,Descrip,Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Script",
              "displayName": "Video Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin Post Description",
              "displayName": "Linkedin Post Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "facebook ",
              "displayName": "facebook ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publishingStatus",
              "displayName": "publishingStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Published",
                  "value": "Video Published"
                },
                {
                  "name": "Ready For Publishing",
                  "value": "Ready For Publishing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records 2",
              "displayName": "Status Records 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Suggestions",
              "displayName": "Suggestions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records",
              "displayName": "Status Records",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video",
              "displayName": "video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script Table",
              "displayName": "Script Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Table",
              "displayName": "Caption Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        432,
        -160
      ],
      "id": "94988e92-5682-4033-baf7-7957a2a475af",
      "name": "Airtable(Publising Pending)🤖",
      "credentials": {
        "airtableTokenApi": {
          "id": "4ByRFiQZTQIREYtr",
          "name": "[Noman] Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## Put video id in values for fb,insta and youtube\n",
        "height": 120,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        -336
      ],
      "id": "e2c364ea-b9c2-45ee-a483-ffc0c2b9bde2",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Video Publishing",
        "height": 820,
        "width": 2920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -544
      ],
      "id": "0ee31516-aa1e-4409-b34f-b8bece468f74",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1744,
        -256
      ],
      "id": "8d153548-0849-41c3-b4b5-87035a5c759b",
      "name": "YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "cDTdDEF16M225we0",
          "name": "YouTube API"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        -64
      ],
      "id": "5c3ef9d3-e805-45e3-b3fd-254a35cbf9b9",
      "name": "Wait11",
      "webhookId": "963e3202-009f-4892-b54e-dc3713d7f683"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appNVhIrujfndoHGE",
          "mode": "list",
          "cachedResultName": "Creative Asset Management",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE"
        },
        "table": {
          "__rl": true,
          "value": "tblP2MMDX46SQ8osf",
          "mode": "list",
          "cachedResultName": "Video Gen Submissions",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE/tblP2MMDX46SQ8osf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "publishingStatus": "Ready For Publishing",
            "id": "={{ $('Webhook').item.json.body.videoGenRecordId}}",
            "instagram": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Business Website",
              "displayName": "Business Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IdealCustomer",
              "displayName": "IdealCustomer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "targetMarket",
              "displayName": "targetMarket",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredAvatar",
              "displayName": "preferredAvatar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredVoice",
              "displayName": "preferredVoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "additionalNotes",
              "displayName": "additionalNotes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kewordStatus",
              "displayName": "kewordStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Keywords Approved",
                  "value": "Keywords Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scriptStatus",
              "displayName": "scriptStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Script Approved",
                  "value": "Script Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoStatus",
              "displayName": "videoStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Video Approved",
                  "value": "Video Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRollStatus",
              "displayName": "bRollStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "BRoll Approved",
                  "value": "BRoll Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnailStatus",
              "displayName": "thumbnailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Thumbnail Approved",
                  "value": "Thumbnail Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "captionsStatus",
              "displayName": "captionsStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Captions Approved",
                  "value": "Captions Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdDate",
              "displayName": "createdDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "submissionSummary",
              "displayName": "submissionSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Steps Recommendation",
              "displayName": "Next Steps Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Month",
              "displayName": "Submission Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Submission Year",
              "displayName": "Submission Year",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "scripts",
              "displayName": "scripts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video ",
              "displayName": "video ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRoll",
              "displayName": "bRoll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnail",
              "displayName": "thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Captions,Titles,Descrip,Tags",
              "displayName": "Captions,Titles,Descrip,Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Script",
              "displayName": "Video Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin Post Description",
              "displayName": "Linkedin Post Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "facebook ",
              "displayName": "facebook ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publishingStatus",
              "displayName": "publishingStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Published",
                  "value": "Video Published"
                },
                {
                  "name": "Ready For Publishing",
                  "value": "Ready For Publishing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records 2",
              "displayName": "Status Records 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Suggestions",
              "displayName": "Suggestions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records",
              "displayName": "Status Records",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video",
              "displayName": "video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script Table",
              "displayName": "Script Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Table",
              "displayName": "Caption Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1968,
        -64
      ],
      "id": "50b6a72f-bb3c-4df9-a4a6-4d44efff0f36",
      "name": "Airtable(Insta Update)🤖",
      "credentials": {
        "airtableTokenApi": {
          "id": "4ByRFiQZTQIREYtr",
          "name": "[Noman] Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appNVhIrujfndoHGE",
          "mode": "list",
          "cachedResultName": "Creative Asset Management",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE"
        },
        "table": {
          "__rl": true,
          "value": "tblP2MMDX46SQ8osf",
          "mode": "list",
          "cachedResultName": "Video Gen Submissions",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE/tblP2MMDX46SQ8osf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "publishingStatus": "Ready For Publishing",
            "youtube": "={{ $json.uploadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Business Website",
              "displayName": "Business Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IdealCustomer",
              "displayName": "IdealCustomer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "targetMarket",
              "displayName": "targetMarket",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredAvatar",
              "displayName": "preferredAvatar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredVoice",
              "displayName": "preferredVoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "additionalNotes",
              "displayName": "additionalNotes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kewordStatus",
              "displayName": "kewordStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Keywords Approved",
                  "value": "Keywords Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scriptStatus",
              "displayName": "scriptStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Script Approved",
                  "value": "Script Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoStatus",
              "displayName": "videoStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Video Approved",
                  "value": "Video Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRollStatus",
              "displayName": "bRollStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "BRoll Approved",
                  "value": "BRoll Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnailStatus",
              "displayName": "thumbnailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Thumbnail Approved",
                  "value": "Thumbnail Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "captionsStatus",
              "displayName": "captionsStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Captions Approved",
                  "value": "Captions Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdDate",
              "displayName": "createdDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "submissionSummary",
              "displayName": "submissionSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Steps Recommendation",
              "displayName": "Next Steps Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Month",
              "displayName": "Submission Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Submission Year",
              "displayName": "Submission Year",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "scripts",
              "displayName": "scripts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video ",
              "displayName": "video ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRoll",
              "displayName": "bRoll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnail",
              "displayName": "thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Captions,Titles,Descrip,Tags",
              "displayName": "Captions,Titles,Descrip,Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Script",
              "displayName": "Video Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin Post Description",
              "displayName": "Linkedin Post Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "facebook ",
              "displayName": "facebook ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publishingStatus",
              "displayName": "publishingStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Published",
                  "value": "Video Published"
                },
                {
                  "name": "Ready For Publishing",
                  "value": "Ready For Publishing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records 2",
              "displayName": "Status Records 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Suggestions",
              "displayName": "Suggestions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records",
              "displayName": "Status Records",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video",
              "displayName": "video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script Table",
              "displayName": "Script Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Table",
              "displayName": "Caption Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1968,
        -256
      ],
      "id": "c00c417b-d845-480b-9a0d-a484624a1b9c",
      "name": "Airtable(Youtube Update)🤖",
      "credentials": {
        "airtableTokenApi": {
          "id": "4ByRFiQZTQIREYtr",
          "name": "[Noman] Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "workspace": "454570643008941",
        "name": "Task for Reviewing the Publishing",
        "otherProperties": {
          "notes": "Please check your Airtable Account for Video Publishing. https://airtable.com/appNVhIrujfndoHGE/tblP2MMDX46SQ8osf/viwymx1gzpptV0ZOh?blocks=hide",
          "projects": [
            "1209939745105647"
          ]
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        640,
        -160
      ],
      "id": "5ba3ae3f-5aa0-4047-95df-7cd762cc2d56",
      "name": "Asana(Video Publishing)🤖",
      "credentials": {
        "asanaApi": {
          "id": "qNRwjxyH19ZdpHO1",
          "name": "[Noman] Asana account "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Parse Social Media JSON Data\n\n// Get the JSON data from input\nlet rawData = $input.first().json.body.approvedCaption;\n\n// If the data is a string with ```json markers, clean it up\nif (typeof rawData === 'string') {\n  // Remove ```json at the beginning and ``` at the end\n  rawData = rawData.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n  // Parse the cleaned JSON string\n  socialMediaData = JSON.parse(rawData);\n} else {\n  // Data is already an object\n  socialMediaData = rawData;\n}\n\n// Transform the data into an array of items for n8n processing\nconst outputItems = [];\n\n// Iterate through each platform\nObject.keys(socialMediaData).forEach(platform => {\n  const content = socialMediaData[platform];\n  \n  outputItems.push({\n    json: {\n      [platform]: {\n        title: content.title,\n        description: content.description,\n        caption: content.caption,\n        tags: content.tags\n      }\n    }\n  });\n});\n\n// Return the processed items\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -160
      ],
      "id": "e4399b2b-c0bb-4704-8672-8db023e303bc",
      "name": "Preparing Approved Capitons"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appNVhIrujfndoHGE",
          "mode": "list",
          "cachedResultName": "Creative Asset Management",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE"
        },
        "table": {
          "__rl": true,
          "value": "tblP2MMDX46SQ8osf",
          "mode": "list",
          "cachedResultName": "Video Gen Submissions",
          "cachedResultUrl": "https://airtable.com/appNVhIrujfndoHGE/tblP2MMDX46SQ8osf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "publishingStatus": "Ready For Publishing"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "productService",
              "displayName": "productService",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IdealCustomer",
              "displayName": "IdealCustomer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "targetMarket",
              "displayName": "targetMarket",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "competitors",
              "displayName": "competitors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "brandVoice",
              "displayName": "brandVoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "socialMedia",
              "displayName": "socialMedia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "successfulContent",
              "displayName": "successfulContent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoTone",
              "displayName": "videoTone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredAvatar",
              "displayName": "preferredAvatar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferredVoice",
              "displayName": "preferredVoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "additionalNotes",
              "displayName": "additionalNotes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kewordStatus",
              "displayName": "kewordStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Keywords Approved",
                  "value": "Keywords Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scriptStatus",
              "displayName": "scriptStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Script Approved",
                  "value": "Script Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoStatus",
              "displayName": "videoStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Video Approved",
                  "value": "Video Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRollStatus",
              "displayName": "bRollStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "BRoll Approved",
                  "value": "BRoll Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnailStatus",
              "displayName": "thumbnailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Thumbnail Approved",
                  "value": "Thumbnail Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdDate",
              "displayName": "createdDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submissionSummary",
              "displayName": "submissionSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Steps Recommendation",
              "displayName": "Next Steps Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Month",
              "displayName": "Submission Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Submission Year",
              "displayName": "Submission Year",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "heygenStatus",
              "displayName": "heygenStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Heygen Approved",
                  "value": "Heygen Approved"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scripts",
              "displayName": "scripts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video ",
              "displayName": "video ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bRoll",
              "displayName": "bRoll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thumbnail",
              "displayName": "thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records (Business Name)",
              "displayName": "Status Records (Business Name)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records (Project ID)",
              "displayName": "Status Records (Project ID)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Script",
              "displayName": "Video Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HeyGen",
              "displayName": "HeyGen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "B Roll Video ",
              "displayName": "B Roll Video ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "facebook ",
              "displayName": "facebook ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publishingStatus",
              "displayName": "publishingStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Video Published",
                  "value": "Video Published"
                },
                {
                  "name": "Ready For Publishing",
                  "value": "Ready For Publishing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records",
              "displayName": "Status Records",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Records 2",
              "displayName": "Status Records 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1056,
        368
      ],
      "id": "ffff5513-8835-47ef-82ac-a07ae55c3f0e",
      "name": "Airtable(fb Update)🤖",
      "credentials": {
        "airtableTokenApi": {
          "id": "4ByRFiQZTQIREYtr",
          "name": "[Noman] Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('Start Upload').item.json.video_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        -288
      ],
      "id": "4ed42339-3199-43e0-b67c-ce671e72de21",
      "name": "Check Status",
      "credentials": {
        "facebookGraphApi": {
          "id": "OtCdJFNuVFqZeApz",
          "name": "GOPM Facebook EXPIRATION - June 24, 2025"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('HTTP Request4').item.json.data.video_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Upload To Cloudinary').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2016,
        -288
      ],
      "id": "4dec9eed-b90b-40be-9ace-aa45a8cc103a",
      "name": "Upload to Rupload",
      "credentials": {
        "facebookGraphApi": {
          "id": "OtCdJFNuVFqZeApz",
          "name": "GOPM Facebook EXPIRATION - June 24, 2025"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/<fb page id>/video_reels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Start Upload').item.json.video_id }}"
            },
            {
              "name": "upload_phase",
              "value": "FINISH"
            },
            {
              "name": "video_state",
              "value": "PUBLISHED"
            },
            {
              "name": "description",
              "value": "={{ $('Preparing Approved Captions').item.json.output.facebook.description }}"
            },
            {
              "name": "title",
              "value": "={{ $('Preparing Approved Captions').item.json.output.facebook.title}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        -304
      ],
      "id": "8b8edb09-f716-4dee-b6a0-ce2ed6b67101",
      "name": "Upload Reel to FB",
      "credentials": {
        "facebookGraphApi": {
          "id": "OtCdJFNuVFqZeApz",
          "name": "GOPM Facebook EXPIRATION - June 24, 2025"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "enter_your_node/reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "upload_phase",
                "value": "start"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2256,
        -256
      ],
      "id": "7a6ce099-6328-416b-ac22-92cf08535de9",
      "name": "Start Upload",
      "credentials": {
        "facebookGraphApi": {
          "id": "OtCdJFNuVFqZeApz",
          "name": "GOPM Facebook EXPIRATION - June 24, 2025"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/djglng6ux/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            },
            {
              "name": "upload_preset",
              "value": "fb_reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2464,
        -336
      ],
      "id": "c16309ef-74e5-4dd3-9f81-db83b1d56575",
      "name": "Upload To Cloudinary",
      "credentials": {
        "httpBasicAuth": {
          "id": "pbHaUmTQDKda9JJl",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "648955568295707",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $('HTTP Request4').item.json.data.video_url }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2000,
        368
      ],
      "id": "a73e8552-a321-427e-bb3c-30e239710fcc",
      "name": "Create Container1",
      "credentials": {
        "facebookGraphApi": {
          "id": "pB30xAmsVYzwJfEu",
          "name": "FB ACC"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "=648955568295707",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $('Create Container1').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1344,
        368
      ],
      "id": "0fda4584-3c30-41b9-856d-8d6aa4c49f9c",
      "name": "Instagram POST1",
      "credentials": {
        "facebookGraphApi": {
          "id": "pB30xAmsVYzwJfEu",
          "name": "FB ACC"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "=648955568295707/media?fields={{ $json.id }},status_code \n",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1568,
        368
      ],
      "id": "1d0892a6-54e2-49c4-bd48-416d07a264e8",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "pB30xAmsVYzwJfEu",
          "name": "FB ACC"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1776,
        368
      ],
      "id": "b598e207-2db7-4e98-b620-63e8216f5dd0",
      "name": "Wait",
      "webhookId": "963e3202-009f-4892-b54e-dc3713d7f683"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        208,
        -160
      ],
      "id": "1311e8fa-2b50-4c96-b19e-74f82eea5f1a",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparing Approved Capitons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Container": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Create Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram POST": {
      "main": [
        [
          {
            "node": "Airtable(Insta Update)🤖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Video Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Instagram POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable(Publising Pending)🤖": {
      "main": [
        [
          {
            "node": "Asana(Video Publishing)🤖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube1": {
      "main": [
        [
          {
            "node": "Airtable(Youtube Update)🤖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable(Insta Update)🤖": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable(Youtube Update)🤖": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asana(Video Publishing)🤖": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing Approved Capitons": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Rupload": {
      "main": [
        [
          {
            "node": "Upload Reel to FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Reel to FB": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Upload": {
      "main": [
        [
          {
            "node": "Upload to Rupload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To Cloudinary": {
      "main": [
        [
          {
            "node": "Start Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Container1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Instagram POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram POST1": {
      "main": [
        [
          {
            "node": "Airtable(fb Update)🤖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable(fb Update)🤖": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Airtable(Publising Pending)🤖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d47f0c18-4a4a-49e3-928a-561255bcdd32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aec523c53a8ccca3226cf36d63bacc49b76e8e3ea435f0c7e644b5c591546acc"
  },
  "id": "plsC6zWu0sxPYkle",
  "tags": []
}